@model IEnumerable<CurriculoMvc.Models.Objetivo>

@foreach(var item in Model)
{
    <li class="collection-item row">
        <div class="valign-wrapper col s10">
            @Html.DisplayFor(modelItem => item.Descrição)
        </div>

        <div class="col s2 right">
            <a asp-controller="Objetivos" asp-action="Edit" asp-route-id="@item.ObjetivoId" class="btn-floating btn-small blue darken-4"><i class="material-icons">edit</i></a>
            <a onclick="ExibirModal(@item.ObjetivoId, 'Objetivos')" class="btn-floating btn-small red darken-4"><i class="material-icons">delete_forever</i></a>
        </div>
    </li>
}