@model CurriculoMvc.Models.Curriculo

@{
    ViewData["Title"] = "Atualizar currículo " + Model.Nome;
}

<div class="formulario">

<h4>Atualizar currículo @Model.Nome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurriculoId" />
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Nome" id="Nome" class="validate" />
                    <label for="Nome">Nome do currículo</label>
                    <span asp-validation-for="Nome" class="red-text darken-3"></span>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Salvar" class="btn btn-small green darken-3" /> &nbsp;
                <a asp-action="Index" class="btn btn-small grey lighten-1">Voltar</a>
            </div>
        </form>
    </div>
</div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
