@model CurriculoMvc.Models.Idioma

@{
    ViewData["Title"] = "Atualizar idioma";
}

<div class="formulario">

    <h5>Novo Idioma</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdiomaId" />
                <div class="row">
                    <div class="input-field col s6">
                        <input asp-for="Nome" id="Nome" class="validate" />
                        <label for="Nome">Nome</label>
                        <span asp-validation-for="Nome" class="red-text darken-3"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input asp-for="Nivel" id="Nivel" class="validate" />
                        <label for="Nivel">Nível</label>
                        <span asp-validation-for="Nivel" class="red-text darken-3"></span>
                    </div>
                </div>

                <input asp-for="CurriculoId" type="hidden" />
                <div class="row">
                    <input type="submit" value="Salvar" class="btn btn-small green darken-1" /> &nbsp;
                    <a asp-action="Details" asp-controller="Curriculos" asp-route-id="@Model.CurriculoId">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>